html, body {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Moderat Trial' ;
    z-index: -15;
    overflow: hidden;
}
#exit {
    width: 100vw;
    height: 10vh;
    background-color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.exittext {
    color: white;
    position: absolute;
    text-align: center;
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    font-size: 30pt;
}

#audioplayer {
    width: 100vw;
    height: 90vh;
    position: relative;
}

progress {
    -webkit-appearance: none;
    appearance: none;
  }

#seekbar::-webkit-progress-bar {
z-index: -1;
position: absolute;
top: 0;
left: 0;     
height: 100%;
width: 100%;
background-color: white;
}

#seekbar::-webkit-progress-value {
background-color: yellow;
}

.forward {
    width: 100pt;
height: 50pt;
z-index: 50;
position: fixed;
}



.button {
height: 90%;
width: 100%;
position: fixed;
top: 10%;
left: 0;
overflow-x: hidden;
z-index: 10;
opacity: 0;
}

#screenbutton2 {
display: none;
}

.container {
height: 100%;
width: 100%;
text-align: center;
position: relative;
overflow-x: hidden;
}

.capitolo {
    font-size: 600pt;
    position: absolute;
    top: 10%;
    transition: 2s;
}

.uno {
    left: 50%;
    transform: translateX(-50%);
    opacity: 100%;
    transition: 2s;
}
.due {
    left: 100%;
    transform: translateX(-50%);
    opacity: 25%;
    transition: 2s;
}
.tre {
    left: 150%;
    transform: translateX(-50%);
    opacity: 25%;
    transition: 2s;
}
.quattro {
    left: 200%;
    transform: translateX(-50%);
    opacity: 25%;
    transition: 2s;
}
.cinque {
    left: 250%;
    transform: translateX(-50%);
    opacity: 25%;
    transition: 2s;
}

.menodue {
    left: 0%;
    transform: translateX(-50%);
    opacity: 25%;
}

.menotre {
    left: -50%;
    transform: translateX(-50%);
    opacity: 25%;
    transition: 2s;
}
