@font-face {
    font-family: Moderat;
    src: url(fonts/Moderat-Trial-Regular.otf);
  }
  @font-face {
    font-family: ModeratItalic;
    src: url(fonts/Moderat-Trial-Regular-Italic.otf);
  }
  @font-face {
    font-family: ModeratBold;
    src: url(fonts/Moderat-Trial-Medium.otf);
  }

   @font-face {
    font-family: ModeratLight;
    src: url(fonts/Moderat-Trial-Light.otf);
  }

:root {
    --app-height: 100%;
 }

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: -webkit-fill-available;
}

body {
    position: relative;    width: 100vw;
    font-family: Moderat;
    z-index: -15;
    overflow: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


#exit {
    width: 16vw;
    height: 16vw;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    position: fixed;
    top: 3vw;
    left: 3vw;
    overflow: hidden;
    border-radius: 50%;
    z-index: 15;
}
.exittext {
    color: black;
    position: absolute;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 10pt;
}
.exitimg {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 3vh;
    height: auto;
}

#audioplayer {
    width: 100vw;
    height: 100%;
    height: -webkit-fill-available;
    position: relative;
}



#tutorial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-y: hidden;
    z-index: 12;
}


#gradient{
    z-index: -15;
    height: 150px;
    width: 150px;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.3s;
    transition-timing-function: ease-out;
}


.button {
height: 100%;
width: 100%;
position: fixed;
top: 10%;
left: 0;
overflow-x: hidden;
z-index: 10;
opacity: 0;
}


#screenbutton2 {
display: none;
}

#screenbutton3 {
display: none;
}

#screenbutton4 {
display: none;
}
    
#screenbutton5 {
display: none;
}



#container {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.indexindex {
    color: white;
    position: fixed;
    top: 4vh;
    font-size: 12pt;
}

.tap {
    font-size: 15pt;
    position: fixed;
    transition: 2s;
    top: 38vh;
    font-family: ModeratBold;
    color: white;
}

.capitolo {
    font-size: 72pt;
    position: fixed;
    transition: 2s;
    line-height: 100vh;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.capitolotimer {
    font-size: 48pt;
    position: fixed;
    transition: 2s;
    display: inline-block;
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: none;
    color: white;
    letter-spacing: -3px;
}

.visible {
    opacity: 1;
    transition: 1s;
    transition-timing-function: ease-out;
}

.uno {
    left: 50%;
    transform: translateX(-50%);
    transition: 2s;
    white-space: nowrap;
    overflow: hidden;
}
.due {
    left: 100%;
    transform: translateX(-50%);
    opacity: 0.2;
    transition: 2s;
    white-space: nowrap;
    overflow: hidden;
}
.tre {
    left: 150%;
    transform: translateX(-50%);
    opacity: 0.2;
    transition: 2s;
    white-space: nowrap;
    overflow: hidden;
}
.quattro {
    left: 200%;
    transform: translateX(-50%);
    opacity: 0.2;
    transition: 2s;
}
.cinque {
    left: 250%;
    transform: translateX(-50%);
    opacity: 0.2;
    transition: 2s;
}

.menodue {
    left: 0%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 2s;
}

.menotre {
    left: -50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 2s;
}

.menoquattro {
    left: -50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 2s;
}

.menocinque {
    left: -50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 2s;
}
